/* ================= REVIEWS ================= */

.review-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:18px;
}

.review-card{
  border:1px solid var(--line);
  background:#0d1218;
  border-radius:14px;
  padding:27px;
  transition:.25s;
}

.review-card:hover{
  transform:translateY(-5px);
  border-color:#43502e;
}


/* ================= REVIEW CLIENT IMAGE ================= */

.review-image{
  width:58px;
  height:58px;
  flex-shrink:0;
  border-radius:50%;
  overflow:hidden;
  margin-bottom:16px;
  border:1px solid #2b3425;
  background:#151b22;
}

.review-image img{
  width:100%;
  height:100%;
  display:block;
  object-fit:cover;
  object-position:center;
  border-radius:50%;
}


/* ================= REVIEW STARS ================= */

.stars{
  color:#ffd34d;
  font-size:15px;
  letter-spacing:2px;
  margin-bottom:15px;
}


/* ================= REVIEW TEXT ================= */

.review-card p{
  color:#c4cad2;
  font-size:14px;
  line-height:1.7;
  min-height:92px;
}

.review-card strong{
  display:block;
  margin-top:18px;
  font-size:15px;
  color:#fff;
}

.review-card small{
  display:block;
  color:var(--muted);
  font-size:12px;
  margin-top:3px;
}


/* ================= MOBILE REVIEWS ================= */

@media(max-width:800px){

  .review-grid{
    grid-template-columns:1fr;
  }

  .review-card{
    padding:23px;
  }

  .review-image{
    width:58px;
    height:58px;
  }

}

@media(max-width:480px){

  .review-card{
    padding:20px;
  }

  .review-image{
    width:52px;
    height:52px;
  }

  .review-card p{
    font-size:13px;
  }

}
